@charset "UTF-8";

/*Formatação telas pequenas*/
@media screen and (max-width: 1055px) {
    span#icones {
        display: block;
    }
    nav {
        display: none;
    }
    .section-conteudos {
        width: 80%;
    }
    h2, h5 {
        text-align: center;
    } 
    .img-section {
        width: 100%;
        margin: 10px 0px 10px 0px;
        padding: 0px;
    }
    p#sec-cont {
        width: 100%;
        margin-bottom: 10px;
    }
    .ul-titulos {
        float: none;
        width: 90%;
        padding: 5px 10px 0px 25px;
    }
    .ul-certificados {
        width: 100%;
        text-align: center;
    }
    .section-bottom {
        width: 80%;
    }
    .img-work {
        width: 98.5%;
        margin-top: 10px;
    }
    .ul-empresas {
        float: none;
        width: 90%;
        padding: 5px 10px 0px 25px;
    }
}
 
